<!-- <h2>{{robo.name | uppercase}} Details</h2>
<div><span>id: </span>{{robo.id}}</div>
<div><span>name: </span>{{robo.name}}</div>

<label for="robo name">Robo name:</label>
<input type="text" id="name" placeholder="name" [(ngModel)] = "robo.name"> -->

<h2>MY ROBOTS LIST: </h2>
<div>
  <input for="new-hero" #roboName>
  <button (click)="addNewRobo(roboName.value); roboName.value='' ">Add</button>
</div>
<ul class="robots">
  <li *ngFor = "let robo of robos" > <!--(click) = "onSelect(robo)" [class.selected]="robo === selectedRobo"-->
    <a routerLink="/details/{{robo.id}}">
    <span class="badge">{{robo.id}}</span> {{robo.name}}
    </a>
    <button title="delete robo" class="delete" (click)="deleteRobo(robo)">Delete me</button>
  </li>
</ul>

<!-- <app-robo-details [robo]="selectedRobo"></app-robo-details> -->

